* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #000000, #b8860b);
  color: white;
}

/* my name after logo */
.first-name{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: aqua;
}

/* Navbar */
.navbar-wrap {
  display: flex;
  align-items: center;
  padding: 30px 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

.navbar {
  margin-left: auto;
  background: #d6d0cf;
  border-radius: 60px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 80px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.menu-icon span {
  display: block;
  width: 30px;
  height: 4px;
  background: #666;
  margin: 5px 0;
}

/* Projects */
.projects {
  text-align: center;
  margin-top: 60px;
}

.projects h1 {
  font-size: 60px;
  margin-bottom: 60px;
  font-family: serif;
  color: rgba(42, 216, 193, 0.855);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 0 100px;
}

.card img {
  width: 160px;
  border-radius: 20px;
}

.card p {
  margin-top: 15px;
  font-size: 20px;
}
.nam{
  color: #22bab0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer */
.footer {
  margin-top: 80px;
  background: #527c9f;
  padding: 25px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-to-top {
  width: 60px;
  height: 60px;
  background: rgb(48, 93, 65);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.profile-card {
  display: inline-flex;
  flex-direction: column; 
  align-items: center;    
  text-decoration: none;  
  color: #ffffff;            
  transition: transform 0.2s; 
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;     
  object-fit: cover;     
  margin-bottom: 10px;    
}

.profile-card:hover {
  transform: scale(1.05); 
}

.profile-card span {
  font-weight: bold;
  font-size: 1.2rem;
}
html{
  scroll-behavior: smooth;
}
.footer {
  background-color: #278299; 
  color: #ffffff;
  padding: 40px;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
}
.back-to-top {
  position: fixed;      
  bottom: 20px;         
  right: 20px;          
  z-index: 1000;        
  cursor: pointer;
}
.back-to-top img {
  width: 40px; 
  display: block;
  transition: transform 0.3s ease;
}

.back-to-top:hover img {
  /* transform: translateY(-5px);  */
  transform: scale(1.1);
}

